@import "bootstrap/bootstrap.less";
@import "variables.less";

body {
	
	header {		
		padding: 0em 5em 0em 5em;
		background-color: #302c28;
		color: #ffffff;
		
		h1{
			margin: 0em;
		}
	}
	nav{
		margin: 1em 5em 1em 5em;
		
		.navbar a{					
			background-color: #302c28;
			color: #302c28;
		}
	}
	article{
		margin: 1em 5em 1em 5em;
		padding: 0.5em;
		color: #302c28;
		border: 1px solid #302c28;
		min-height: 40em;
		
		h3{
			background-color: #302c28;
			color: #ffffff;
			text-align: center;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
	footer {		
		padding: 0em 5em 0em 5em;
		background-color: #302c28;
		color: #ffffff;
		height: 2em;
	
		p {		
			text-align: center;
		}
	}
}